<!-- Page Content -->
<div class="container-fluid" style="padding-top:180px;">


    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-2 ">

                <!-- list group -->
                <navigation/>

            </div>

            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label>First Name</label>
                        <input ng-model="appInfo.firstName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input ng-model="appInfo.lastName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input ng-model="appInfo.position" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Store Number</label>
                        <input ng-model="appInfo.storeNumber" class="form-control">
                    </div>
                </form>
                <form class="form-inline">
                    <label>Permanent Address </label>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> Own</label>
                        <label><input type="checkbox" value=""> Rent</label>
                    </div>
                </form>
                <br>
                <div class="form-group">
                    <label>Address 1</label>
                    <input ng-model="appInfo.address1" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address 2</label>
                    <input ng-model="appInfo.address2" class="form-control">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input ng-model="appInfo.city" class="form-control">
                </div>

                <div class="" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                            ng-disabled="disabled">
                        State <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Alabama</a></li>
                        <li role="menuitem"><a href="#">Arkansas</a></li>
                        <li role="menuitem"><a href="#">New York</a></li>
                        <li role="menuitem"><a href="#">Tennessee</a></li>
                    </ul>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Zip</label>
                    <input ng-model="appInfo.zip" class="form-control">
                </div>
                <div class="form-group">
                    <label>Daytime Telephone #</label>
                    <input ng-model="appInfo.daytimeTelephone" class="form-control">
                </div>
                <div class="form-group">
                    <label>NightTime Telephone #</label>
                    <input ng-model="appInfo.nightTelephone" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input ng-model="appInfo.EmailAddress" class="form-control">
                </div>

            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Middle Name </label>
                        <input ng-model="appInfo.middleName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Employee ID</label>
                        <input ng-model="appInfo.employeeID" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Full Time</label>
                            <label><input type="checkbox" value="">Part Time</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<ul class="pager">
  <div class="form-nav"><a class="button inverse w-button" href="index.html">Save for Later</a>
    <a class="button w-button" href="index.html">Next</a>
</ul>
<!-- /.row -->


<hr>
