<div class="w-col w-col-9">
  <h3>Application Information</h3>
    <form name="applicationInfoForm" ng-class="{'submitted':submitted}">
      <div class="col-md-9">
        <p></p>
        <div class="form-group">
          <label>Are you filling this application out on someone's behalf?</label>
          <div class="radio">
            <p class="error" ng-show="showBehalfError">Please select one</p>
            <label><input type="radio" ng-model="application.request_content.applicantInfo.behalf" value="yes" ng-required="!behalf" ng-change="showBehalfError=false"> Yes</label>
            <label><input type="radio" ng-model="application.request_content.applicantInfo.behalf" value="no" ng-required="!behalf" ng-change="showBehalfError=false">No</label>
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <label ng-model="application.request_content.applicantInfo.firstName"></label>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <label ng-model="application.request_content.applicantInfo.lastName"></label>
          </div>
          <div class="form-group">
            <label>Position</label>
            <label ng-model="application.request_content.applicantInfo.position"></label>
          </div>
          <div class="form-group">
            <label>Status</label>
            <div class="radio">
              <p class="error" ng-show="showJobTypeError">Please select one</p>
              <label><input type="radio" ng-model="application.request_content.applicantInfo.jobType" value="full" ng-required="!jobType" ng-change="showJobTypeError=false">Full Time</label>
              <label><input type="radio" ng-model="application.request_content.applicantInfo.jobType" value="part" ng-required="!jobType" ng-change="showJobTypeError=false">Part Time</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Middle Name </label>
            <label ng-model="application.request_content.applicantInfo.middleName"></label>
          </div>
          <div class="form-group">
            <label>Employee ID</label>
            <label ng-model="application.request_content.applicantInfo.employeeID"></label>
          </div>
          <div class="form-group">
            <label>Store Number/Department ID</label>
            <label ng-model="application.request_content.applicantInfo.storeNumber"></label>
          </div>
          <div class="form-group">
            <label>Permanent Address </label>
            <div class="radio">
              <p class="error" ng-show="showPermAddressError">Please select one</p>
              <label><input type="radio" ng-model="application.request_content.applicantInfo.permAddress" value="own" ng-required="!permAddress" ng-change="showPermAddressError=false"> Own</label>
              <label><input type="radio" ng-model="application.request_content.applicantInfo.permAddress" value="rent" ng-required="!permAddress" ng-change="showPermAddressError=false"> Rent</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div id="app-info-col-2">
        <div class="col-md-6">
          <div class="form-group">
            <label>Address 1</label>
            <label ng-model="application.request_content.applicantInfo.address1"></label>
          </div>
          <div class="form-group">
            <label>City</label>
            <label ng-model="application.request_content.applicantInfo.city"></label>
          </div>
          <div class="form-group">
            <label>Zip</label>
            <label ng-model="application.request_content.applicantInfo.zip"></label>
          </div>
          <div class="form-group">
            <label>Daytime Telephone #</label>
            <label ng-model="application.request_content.applicantInfo.daytimeTelephone"></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Address 2</label>
            <label ng-model="application.request_content.applicantInfo.address2"></label>
          </div>
          <div class="form-group">
            <label>State</label>
            <label ng-model="application.request_content.applicantInfo.state"></label>
          </div>
          <div class="form-group">
            <label>NightTime Telephone #</label>
            <label ng-model="application.request_content.applicantInfo.nightTelephone"></label>
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <label ng-model="application.request_content.applicantInfo.EmailAddress"></label>
          </div>
        </div>
      </div>
      <br>
  </form>
</div>
