<!-- Page Content -->
		<div class="container-fluid" style="padding-top:180px;">

			<!-- /.row -->

			<div class="row">
        <div class="col-md-12">
				<div class="col-sm-2 ">

					<!-- list group -->
                    <navigation/>
				</div>
        <div class="col-md-8">
          <label>What is the AutoZoner Assistance Fund (AAF)?</label>
					<br>
					<p class="well">The AAF provides immediate, short-term  nancial assistance to AutoZoners, their spouses and/or their legal dependents who are victims of natural disasters and personal tragedies.</p>
</div>
<div class="col-md-4">
					<label>What does the AAF cover?</label>
					<br>
					<p class="well">AAF provides short-term, emergency funds for shelter, funeral, house  re and utilities(extreme weather/medical devices).</p>

          <label>How is the AAF funded?</label>
					<br>
					<p class="well">AAF is supported solely by AutoZoners for AutoZoners.</p>
</div>
<div class="col-md-4">
					<label>How do I submit an application?</label>
					<br>
						<div class="list-group well">
								<p> 1. Complete the application in its entirety.</p>
								<p> 2. Submit the application to your human resources manager
								to verify it meets the basic guidelines of the AAF.</p>
								<p> 3. Submit the application by:
								• Fax: 901.495.8300, or
								• Mail: AutoZoner Assistance Fund Administrator</p>
								<p>P.O. Box 2198 - Dept. 8112 Memphis, TN 38101</p>
						</div>
</div>

</div>
<div class="col-md-12">
		<div class="col-sm-2 ">
	</div>
			<div class="col-sm-8 ">
				<label >****NOTE: Incomplete Applications will NOT be considered and will be returned****</label>
			</div>
</div>
</div>


			<ul class="pager">
				<div class="form-nav"><a class="button inverse w-button" href="index.html">Save for Later</a><a class="button w-button" href="index.html">Next</a>
			</ul>
			<!-- /.row -->
      </div>
<hr>

		</div>
		<!-- /.container-fluid -->
