<div class="container-fluid">
  <div class="main-section" id="posts">
    <div class="w-container">
      <div class="w-row">
          <side-navigation step="1" app-id="application._id"></side-navigation>
          <div class="w-col w-col-9">
            <h3>Application Information</h3>
              <form name="applicationInfoForm" ng-class="{'submitted':submitted}">
                <fieldset ng-disabled="(application.status !== 'Draft' && application.status !== 'Returned')">
                <div class="col-md-9">
                  <p></p>
                  <div class="form-group">
                    <label>Are you filling this application out on someone's behalf?</label>
                    <div class="radio">
                      <p class="error" ng-show="showBehalfError">Please select one</p>
                      <label><input tabindex="1" type="radio" ng-model="application.requestContent.applicantInfo.behalf" value="yes" ng-required="!behalf" ng-change="showBehalfError=false"> Yes</label>
                      <label><input tabindex="2" type="radio" ng-model="application.requestContent.applicantInfo.behalf" value="no" ng-required="!behalf" ng-change="showBehalfError=false">No</label>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input tabindex="3" ng-model="application.requestContent.applicantInfo.firstName" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Last Name</label>
                      <input tabindex="5" ng-model="application.requestContent.applicantInfo.lastName" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Position</label>
                      <input tabindex="7" ng-model="application.requestContent.applicantInfo.position" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Status</label>
                      <div class="radio">
                        <p class="error" ng-show="showJobTypeError">Please select one</p>
                        <label><input tabindex="9" type="radio" ng-model="application.requestContent.applicantInfo.status" value="fullTime" ng-required="!jobType" ng-change="showJobTypeError=false">Full Time</label>
                        <label><input tabindex="10" type="radio" ng-model="application.requestContent.applicantInfo.status" value="partTime" ng-required="!jobType" ng-change="showJobTypeError=false">Part Time</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Middle Name </label>
                      <input tabindex="4" ng-model="application.requestContent.applicantInfo.middleName" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Employee ID</label>
                      <input tabindex="6" ng-model="application.requestContent.applicantInfo.employeeId" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Store Number/Department ID</label>
                      <input tabindex="8" ng-model="application.requestContent.applicantInfo.storeDeptNo" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Permanent Address </label>
                      <div class="radio">
                        <p class="error" ng-show="showPermAddressError">Please select one</p>
                        <label><input tabindex="11" type="radio" ng-model="application.requestContent.applicantInfo.permanentAddress" value="own" ng-required="!permAddress" ng-change="showPermAddressError=false"> Own</label>
                        <label><input tabindex="12" type="radio" ng-model="application.requestContent.applicantInfo.permanentAddress" value="rent" ng-required="!permAddress" ng-change="showPermAddressError=false"> Rent</label>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div id="app-info-col-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address 1</label>
                      <input tabindex="13" ng-model="application.requestContent.applicantInfo.address1" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>City</label>
                      <input tabindex="15" ng-model="application.requestContent.applicantInfo.city" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Zip</label>
                      <input tabindex="17" ng-model="application.requestContent.applicantInfo.zip" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Daytime Telephone #</label>
                      <input tabindex="19" ng-model="application.requestContent.applicantInfo.dayPhone" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address 2</label>
                      <input tabindex="14" ng-model="application.requestContent.applicantInfo.address2" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>State</label>
                      <select tabindex="16" ng-model="application.requestContent.applicantInfo.state" id="stateDropDown" required>
                        <option ng-repeat="x in states" value="{{x}}">{{x}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>NightTime Telephone #</label>
                      <input tabindex="18" ng-model="application.requestContent.applicantInfo.nightPhone" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Email Address</label>
                      <input tabindex="20" ng-model="application.requestContent.applicantInfo.email" class="form-control" required>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-nav">
                  <button tabindex="21" type="submit" class="button inverse w-button" ng-click="saveForLater()">Save for Later</button>
                  <button tabindex="22" class="button w-button" ng-click="next($event)">Next</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
