<div class="container-fluid">
  <div class="main-section" id="posts">
    <div class="w-container">
      <div class="w-row">
        <admin-navigation step="3" app-id="application._id"></admin-navigation>
        <div class="w-col w-col-6" id="deny">
          <h3>Deny</h3>
            <form name="denyForm" ng-class="{'submitted':submitted}">
              <div class="form-group">
                <label>Approver One</label>
                <select ng-model="application.requestContent.reviewDetails.approver1"
                  ng-options="admin.userId as admin.userName for admin in adminList" required>
                </select>
              </div>
              <div class="form-group">
                <label>Approver One</label>
                <select ng-model="application.requestContent.reviewDetails.approver2"
                  ng-options="admin.userId as admin.userName for admin in adminList" required>
                </select>
              </div>
              <div class="form-group">
                <label>Denial Reason</label>
                <select ng-model="application.requestContent.reviewDetails.denialReason" required>
                  <option ng-repeat="r in reasons" value="{{r}}">{{r}}</option>
                </select>
              </div>
              <div class="form-group" ng-if="application.requestContent.reviewDetails.denialReason === 'Other'">
                <label>Please explain the other reason for denial.</label>
                <textarea class="form-control" id="otherReason"
                  ng-required="application.requestContent.reviewDetails.denialReason === 'Other'"></textarea>
              </div>
              <div class="form-nav">
                <button ng-click="deny($event)" class="button w-button">Deny</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
