<!-- Page Content -->
<div class="container-fluid" style="padding-top:180px;">
			<!-- /.row -->
	<div class="w-row">
        <div class="w-col w-col-9">
            <header>
                <h3>Approve Page</h3>
            </header>
                <form>
                    <div class="form-group">
                        <label>Approver One ID</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistSalvArmy" class="form-control" placeholder="Ignition ID">
                    </div>
                    <div class="form-group">
                        <label>Approver Two ID</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistRedCross" class="form-control" placeholder="Ignition ID">
                    </div>
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistGovt" class="form-control" placeholder="$">
                    </div>
                    <div>
                      <label>Today's Date</label>
                      <div class="row">
                        <div class="col-md-6">
                          <p class="input-group">
                            <input id="date" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt"
                              is-open="isOpen" ng-required="true" close-text="Close" placeholder="Date" ng-focus="dateChanged()" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="isOpen = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                            <p class="error" ng-show="showErrorMessage">Please enter a date.</p>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-nav">
                        <button ng-click="saveFormBtn()" class="button inverse w-button">Save Form</button>
                        <button ng-click="nextButton()" class="button w-button">Next</button>
                    </div>
                </form>
        </div>
    </div>
</div>
