<div>
  <div class="col-xs-3 ">
    <input type="text" class="form-control" id="1EligiblePersonnelFirstName" placeholder="">
    <br></br>
  </div>

  <div class="col-xs-1">
    <input type="text" class="form-control" id="1EligiblePersonnelMiddleInitial" placeholder="">
    <br></br>
  </div>
    <!-- all last names -->
  <div class="col-xs-3">
    <input type="text" class="form-control" id="1EligiblePersonnelLastName" placeholder="">
    <br></br>
  </div>

  <div class="col-xs-1">
    <!--TODO make sure integer is correct type-->
    <input type="Integer" class="form-control" id="1EligiblePersonnelAge" placeholder="">
    <br></br>
  </div>

  <div class="col-xs-4">
    <input type="Integer" class="form-control" id="1EligiblePersonnelRelationshipToAutoZoner" placeholder="">
    <br></br>
  </div>
</div>
