<!-- Page Content -->
<div class="container-fluid">
  <div class="main-section" id="posts">
    <div class="w-container">
      <div class="w-row">
        <side-navigation step="2" app-id="application._id"></side-navigation>
        <div class="w-col w-col-9">
          <h3>Eligible Personnel</h3>
            <form name="eligiblePersonnelForm">
              <fieldset ng-disabled="(application.status !== 'Draft' && application.status !== 'Returned')">
              <div class="form-group">
                <div class="col-xs-12">
                  <label for="EligiblePersonnelFirstName"><b>ELIGIBLE AUTOZONER:</b> Full and part-time
                      AutoZoners, spouse of AutoZoner and/or legal dependants. If commom-law marriage, please
                      attach legal court documents.<b>Please list all those who are eligible and attach a
                          sheet for additonal names.</b></label>
                          <br>
                </div>
                <div class="col-xs-3">
                    <label for="EligiblePersonnelFirstName">First Name</label>
                </div>
                <div class="col-xs-1">
                    <label for="EligiblePersonnelMiddlename">M.I.</label>
                </div>
                <div class="col-xs-3">
                    <label for="EligiblePersonnelLastName">Last Name</label>
                </div>
                <div class="col-xs-2">
                    <label for="EligiblePersonnelAge">Age</label>
                </div>
                <div class="col-xs-3">
                    <label for="EligiblePersonnelRelationshipToAutoZoner">Relationship to AutoZoner</label>
                </div>
                <div ng-repeat="person in persons track by person.row">
                  <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="person.fName">
                    <br>
                  </div>
                  <div class="col-xs-1">
                    <input type="text" class="form-control" ng-model="person.initial">
                    <br>
                  </div>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="person.lName">
                    <br>
                  </div>
                  <div class="col-xs-2">
                    <input type="number" class="form-control" ng-model="person.age" ng-style="person.age > 0 ? {color:'black'} : {color:'white'}">
                    <br>
                  </div>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" ng-model="person.relationship">
                    <br>
                  </div>
                </div>
              </div>
              <div class="form-nav">
                <button class="button inverse w-button" ng-click="saveForLater()">Save for Later</button>
                <button class="button w-button" ui-sref="incidentInfo({appId: application._id})" type="submit">Next</button>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
