<div class="col-md-12">
    <form name="eligiblePersonnelForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="EligiblePersonnelFirstName"><b>ELIGIBLE AUTOZONER:</b> Full and part-time
                AutoZoners, spouse of AutoZoner and/or legal dependants. If commom-law marriage, please
                attach legal court documents.<b>Please list all those who are eligible and attach a
                    sheet for additonal names.</b>
            </label>
                    <br>
          </div>
        </div>
        <div class="col-xs-3">
            <label for="EligiblePersonnelFirstName">First Name</label>
        </div>
        <div class="col-xs-1">
            <label for="EligiblePersonnelMiddlename">M.I.</label>
        </div>
        <div class="col-xs-3">
            <label for="EligiblePersonnelLastName">Last Name</label>
        </div>
        <div class="col-xs-1">
            <label for="EligiblePersonnelAge">Age</label>
        </div>
        <div class="col-xs-4">
            <label for="EligiblePersonnelRelationshipToAutoZoner">Relationship to AutoZoner</label>
        </div>
        <div ng-repeat="person in application.requestContent.eligiblePersonnel track by person.row">
          <div class="col-xs-3">
            <p>{{person.fName}} </p>
          </div>
          <div class="col-xs-1">
            <p>{{person.initial}} </p>
          </div>
          <div class="col-xs-3">
            <p>{{person.lName}} </p>
          </div>
          <div class="col-xs-1">
            <p ng-style="person.age > 0 ? {color:'black'} : {color:'white'}">{{person.age}} </p>
          </div>
          <div class="col-xs-4">
            <p>{{person.relationship}} </p>
          </div>
        </div>
      </div>
    </form>
  </div>
