<div class="container-fluid">
  <div class="main-section" id="posts">
    <div class="w-container">
      <div class="w-row">
        <side-navigation step="3" app-id="application._id"></side-navigation>
        <div class="w-col w-col-9">
          <h3>Incident Info</h3>
            <form name="incidentInfoForm">
              <fieldset ng-disabled="(application.status !== 'Draft' && application.status !== 'Returned')">
              <div class="form-group">
                <div>
                  <label>When did the event occur?</label>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="input-group">
                        <input id="date" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt"
                          is-open="isOpen" ng-required="true" close-text="Close" placeholder="Date" ng-focus="dateChanged()" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="isOpen = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                        <p class="error" ng-show="showErrorMessage">Please enter a date.</p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Reason">Describe in detail the reason for your request. Include a description of the event
                    that occurred that is causing your current hardship (e.g. flood, fire, tornado, death, etc.)</label>
                  <textarea class="form-control" ng-model="application.requestContent.incidentInfo.eventDescription"
                    rows="10" id="Reason" limit-words></textarea>
                </div>
                <div class="form-nav">
                  <button type="submit" class="button inverse w-button" ng-click="saveForLater()">Save for Later</button>
                  <button class="button w-button" ui-sref="assistanceRequest({appId: application._id})">Next</button>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
