<div class="list-group">
  <a ui-sref="home" class=" list-group-item">Application Status</a>
  <a ui-sref="applicationInformation" class="list-group-item">Applicant Information</a>
  <a ui-sref="eligiblePersonnel" class="active list-group-item">Eligible Personnel</a>
  <a ui-sref="incidentInfo" class="list-group-item">Incident Info</a>
  <a ui-sref="assistanceRequest" class="list-group-item">Assistance Request</a>
  <a ui-sref="other" class="list-group-item">Other</a>
  <a ui-sref="review-submission" class="list-group-item">Review and Submission</a>
</div>
