<!-- Page Content -->
<div class="container-fluid" style="padding-top:180px;">

			<!-- /.row -->
	<div class="w-row">
			    <div class="sidenav w-col w-col-3">
					<!-- list group -->
                    <h3>Application form</h3>
                        <a ng-class="{active: $state.includes('applicationInformation')}" ui-sref="applicationInformation" class="complete formsteps">Applicant Information</a>
                        <a ng-class="{active: $state.includes('eligiblePersonnel')}" ui-sref="eligiblePersonnel" class="complete formsteps">Eligible Personnel</a>
                        <a ng-class="{active: $state.includes('incidentInfo')}" ui-sref="incidentInfo" class="complete formsteps">Incident Info</a>
                        <a ng-class="{active: $state.includes('assistanceRequest')}" ui-sref="assistanceRequest" class="complete formsteps">Assistance Request</a>
                        <a ng-class="{active: $state.includes('other')}" ui-sref="other" class="formsteps working">Assistance Requested and/or Received</a>
                        <a ng-class="{active: $state.includes('review-submission')}" ui-sref="review-submission" class="formsteps todo">Review and Submission</a>
            </div>

        <div class="w-col w-col-9">
            <header>
                <h3>Assistance Requested and/or Received</h3>
            </header>
                <form>
                    <div class="form-group">
                        <label>The Salvation Army</label>
                        <input type="number" ng-model = "application.request_content.updatedData.salvationArmy" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>American Red Cross</label>
                        <input type="number" ng-model = "application.request_content.updatedData.redCross" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>City/County/State/Federal Social Services</label>
                        <input type="number" ng-model = "application.request_content.updatedData.cCS" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>Employer</label>
                        <input type="number" ng-model = "application.request_content.updatedData.employer" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>Other Forms of income(please describe)</label>
                        <input type="number" ng-model = "application.request_content.updatedData.other" class="form-control" placeholder="$">
                    </div>
                    <div class="form-nav">
                        <button ng-click="saveLaterBtn()" class="button inverse w-button">Save For Later</button>
                        <button ng-click="nextButton()" class="button w-button">Next</button>
                    </div>
                </form>

        </div>

    </div>
</div>
