
<div class="container-fluid">
  <div class="main-section" id="posts">
    <div class="w-container">
      <div class="w-row">
				<side-navigation step="5" app-id="application._id"></side-navigation>
        <div class="w-col w-col-9">
            <header>
                <h3>Assistance Requested and/or Received</h3>
            </header>
                <form>
                  <fieldset ng-disabled="(application.status !== 'Draft' && application.status !== 'Returned')">
                    <div class="form-group">
                        <label>The Salvation Army</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistSalvArmy" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>American Red Cross</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistRedCross" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>City/County/State/Federal Social Services</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistGovt" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>Employer</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistEmployer" class="form-control" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label>Other Forms of income(please describe)</label>
                        <input type="text" ng-model = "application.requestContent.assistanceRecieved.assistOther" class="form-control" placeholder="$">
                    </div>
                    <div class="form-nav">
                        <button ui-sref="home()" class="button inverse w-button">Save For Later</button>
                        <button ui-sref="attachments({appId: application._id})" class="button w-button">Next</button>
                    </div>
                  </fieldset>
                </form>

        </div>

    </div>
</div>
