<div class="w-col w-col-9">
    <!-- <h3>Assistance Requested and/or Received</h3> -->
    <form>
        <div class="form-group">
            <label>The Salvation Army</label>
            <p>$ {{application.requestContent.assistanceRecieved.assistSalvArmy}}</p>
        </div>
        <div class="form-group">
            <label>American Red Cross</label>
            <p>$ {{application.requestContent.assistanceRecieved.assistRedCross}}</p>
        </div>
        <div class="form-group">
            <label>City/County/State/Federal Social Services</label>
            <p>$ {{application.requestContent.assistanceRecieved.assistGovt}}</p>
        </div>
        <div class="form-group">
            <label>Employer</label>
            <p>$ {{application.requestContent.assistanceRecieved.assistEmployer}}</p>
        </div>
        <div class="form-group">
            <label>Other Forms of income(please describe)</label>
            <p>$ {{application.requestContent.assistanceRecieved.assistOther}}</p>
        </div>
    </form>
</div>
