<!-- Page Content -->
<div class="container-fluid" style="padding-top:10px;">
    <div class="row">
        <h1 align="center">Review and Submission</h1>
        <hr>
        <br>
    </div>

<div class="row">
   <div class="col-md-12">

        <div class="col-sm-2 ">
            <navigation/>
        </div>

  <div class="col-md-10">
      <div class="row">
        <div class="col-md-10">
                <h3>Signatures </h3>
                <p>I hereby certify that the information provided herein is true and accurate. I am verifying that I
                    have no personal funds, such as savings or checking account funds, available to me. I am also aware
                    that any statements made herein which are willfully false are subject to penalty under applicable
                    state and federal laws. Submission of this request does not entitle me to any claim against the
                    AutoZoner Assistance Fund, but constitutes a request for assistance.
                    By signing this form, I also authorize AutoZone, Inc., and its subsidiaries and affiliates to release
                    any and all information that is necessary to determine the needs of the employee applying to the
                    AutoZoner Assistance Fund Administrators and/or its representatives. I understand that my records
                    are protected under Federal and State confidentiality regulations and cannot be disclosed without my
                    written consent unless otherwise provided for in the regulations. I also understand that I may
                    revoke this consent at any time in writing, except to the extent that action has been taken in
                    reliance on it. I also acknowledge that the information released was fully explained to me and this
                    consent is given of my own free will. A photocopy of this authorization is valid as the
                    original. </p>
          </div>
      </div>

    <div class="row">
          <div class="col-md-10">
                <div class=" col-md-5">
                    <div class="form-group">
                      <label>Print Name :</label>
                      <input type="name" placeholder="Print Name" class="form-control">
                    </div>
                </div>
                <div class="col-md-5">
                  <label>Date : </label>
                  <p class="input-group">
                  <input id="date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                      is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                      alt-input-formats="altInputFormats" placeholder="Date" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-10">
              <label>Signature</label>
              <signaturepad/>
          </div>
    </div>
  </div>

  <div class="form-nav">
    <button type="submit" class="button inverse w-button" ng-click="saveForLater()">Save for Later</button>
    <button class="button w-button" ng-click="next()">Next</button>
  </div>
</div>
</div>

</div>
<!-- Pager -->
