
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-2">
    <button type="button" class="button inverse w-button" id="signaturePad_clear">Clear</button>
  </div>
    <div class="col-md-2">
      <button type="button" class="button inverse w-button" id="signaturePad_accept">Accept</button>
    </div>
</div>

<div class="col-md-8">
  <label>Signature</label>
  <div class="panel panel-default">
      <div class="panel-body">
          <canvas>  </canvas>
      </div>
  </div>
</div>
