blinker==1.4
chardet==2.3.0
click==6.6
colorama==0.3.2
cssselect==1.0.1
cssutils==1.0.2
Flask==0.11.1
Flask-Mail==0.9.1
Flask-PyMongo==0.4.1
html5lib==0.999
itsdangerous==0.24
Jinja2==2.8
ldap3==2.1.1
lxml==3.7.3
MarkupSafe==0.23
mod-wsgi==4.5.14
premailer==3.0.1
pyasn1==0.1.9
pymongo==3.4.0
requests==2.4.3
six==1.8.0
urllib3==1.9.1
voluptuous==0.9.3
Werkzeug==0.11.11
